In [2]:
# Importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
# Importing the Data File
df = pd.read_csv('StudentsPerformance.csv')

In [22]:
# Checking out the Data
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [23]:
# To check the number of Genders
df.gender.unique()

array(['female', 'male'], dtype=object)

In [24]:
#to Check for uniform Datatypes
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [25]:
# Check Different Types of Race
df['race/ethnicity'].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [26]:
# Checking Parents level of Education
df['parental level of education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [27]:
# Checking Lunch Types
df.lunch.unique()

array(['standard', 'free/reduced'], dtype=object)

In [28]:
# Checking Status of Test Prep Course
df['test preparation course'].unique()

array(['none', 'completed'], dtype=object)

In [32]:
# ASsigning 1 to completed Status and  0 to None
df['test preparation course'][df['test preparation course']=='completed']=1
df['test preparation course'][df['test preparation course']=='none']=0

C:\Users\91807\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\91807\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [33]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,0,72,72,74
1,female,group C,some college,standard,1,69,90,88
2,female,group B,master's degree,standard,0,90,95,93
3,male,group A,associate's degree,free/reduced,0,47,57,44
4,male,group C,some college,standard,0,76,78,75

In [36]:
df['Total'] = df['math score']+df['reading score']+df['writing score']

In [37]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total
0,female,group B,bachelor's degree,standard,0,72,72,74,218
1,female,group C,some college,standard,1,69,90,88,247
2,female,group B,master's degree,standard,0,90,95,93,278
3,male,group A,associate's degree,free/reduced,0,47,57,44,148
4,male,group C,some college,standard,0,76,78,75,229

In [39]:
df.corr()

               math score  reading score  writing score     Total
math score       1.000000       0.817580       0.802642  0.918746
reading score    0.817580       1.000000       0.954598  0.970331
writing score    0.802642       0.954598       1.000000  0.965667
Total            0.918746       0.970331       0.965667  1.000000

In [40]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
Total                           int64
dtype: object

In [48]:
df = df.astype({'test preparation course':'int64'})

In [49]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course         int64
math score                      int64
reading score                   int64
writing score                   int64
Total                           int64
dtype: object

In [53]:
# Shows that Test Prep dint make much difference
df['test preparation course'].corr(df.Total)

0.2567097066562221

In [54]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total
0,female,group B,bachelor's degree,standard,0,72,72,74,218
1,female,group C,some college,standard,1,69,90,88,247
2,female,group B,master's degree,standard,0,90,95,93,278
3,male,group A,associate's degree,free/reduced,0,47,57,44,148
4,male,group C,some college,standard,0,76,78,75,229

In [57]:
grp_a = df.groupby('race/ethnicity')

In [60]:
grp_a.describe()

               test preparation course                                     \
                                 count      mean       std  min  25%  50%
race/ethnicity
group A                           89.0  0.348315  0.479136  0.0  0.0  0.0
group B                          190.0  0.357895  0.480647  0.0  0.0  0.0
group C                          319.0  0.366771  0.482680  0.0  0.0  0.0
group D                          262.0  0.312977  0.464593  0.0  0.0  0.0
group E                          140.0  0.428571  0.496649  0.0  0.0  0.0

                         math score             ... writing score         \
                75%  max      count       mean  ...           75%    max
race/ethnicity                                  ...
group A         1.0  1.0       89.0  61.629213  ...         73.00   97.0
group B         1.0  1.0      190.0  63.452632  ...         78.00   96.0
group C         1.0  1.0      319.0  64.463950  ...         79.00  100.0
group D         1.0  1.0      262.0  67.362595  ...         80.00  100.0
group E         1.0  1.0      140.0  73.821429  ...         80.25  100.0

                Total                                                     \
                count        mean        std   min    25%    50%     75%
race/ethnicity
group A          89.0  188.977528  43.333794  70.0  156.0  184.0  219.00
group B         190.0  196.405263  44.196399  55.0  170.0  195.0  230.50
group C         319.0  201.394984  41.616633  27.0  173.0  205.0  231.00
group D         262.0  207.538168  39.758327  93.0  181.0  210.0  235.75
group E         140.0  218.257143  43.695047  78.0  194.0  220.5  247.25


                  max
race/ethnicity
group A         289.0
group B         290.0
group C         296.0
group D         297.0
group E         300.0

[5 rows x 40 columns]